.navbar {
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #e5e7eb;
    position: sticky;
    top: 0;
    z-index: 10;

    .navbar-container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        color: white;
        font-size: 1.25rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0;

    img {
        padding-top: 1rem;
        width: 120px;
        height: auto;
        object-fit: contain;
        transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
    }

    span {
        font-weight: 700;
        font-size: 1.1rem;
        color: #111827;

    strong {
        color: #1d4ed8;
        margin-right: 0.1rem;
        }
    }
}

.nav-links {
    display: flex;
    gap: 1.5rem;

    a {
        color: #374151;
        text-decoration: none;
        font-weight: 500;
        padding: 2rem;
        transition: color 0.3s ease;

    &:hover {
        color: #1d4ed8;
        }
    }
}

.btn-login {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    color: #111827;
    text-decoration: none;
    transition: background 0.3s ease;

    &:hover {
        background-color: #f3f4f6;
    }
}

  // Responsive (opcional, por si quieres collapsar después)
    @media (max-width: 768px) {
        .nav-links {
        display: none;
        }
    }
}
@media (max-width: 768px) {
  .logo img {
    height: 36px;
  }
}
